.center, .wrap {
    margin: 0 auto 25px; 
    overflow: hidden;   
}
    .wrap {
        position: relative;
        left: 20px;
        
        max-width: 1000px;
    }
    .wrap > * {
        max-width: 1000px;
    }

/* sistema de grids - from butterfly */
[class*='col'], .content, .sidebar {
    display: block;
    
    margin-bottom: 20px;
    margin-right: 20px;
}
    .col12 { background-color:#fc0;width: 100%; }
    .col11 { background-color:#fc0;width: 91.66666666666666%; }
    .col10 { background-color:#fc0;width: 83.33333333333334%; }
    .col9 { background-color:#fc0;width: 75%; }
    .col8, .content { background-color:#fc0;width: 66.66666666666666%; }
    .col7 { background-color:#fc0;width: 58.333333333333336%; }
    .col6, .half, .full input, .full select, .full textarea { background-color:#fc0;width: 50%; }
    .col5 { background-color:#fc0;width: 41.66666666666667%; }
    .col4, .third, .sidebar { background-color:#fc0;width: 33.33333333333333%; }
    .col3, .full label, .full .help { background-color:#fc0;width: 25%; }
    .col2 { background-color:#fc0;width: 16.666666666666664%; }
    .col1 { background-color:#fc0;width: 8.333333333333332%; }
    
/* Offsets */
.offset8 { margin-left: 654px; }
.offset7 { margin-left: 571px; }
.offset6 { margin-left: 490px; }
.offset5 { margin-left: 409px; }
.offset4 { margin-left: 327px; }
.offset3, .full button, .full [type=submit] { margin-left: 224px; }
.offset2 { margin-left: 163.5px; }
.offset1 { margin-left: 81.75px; }

/* Negative offsets */
.offset-12 { margin-left: -960px; }
.offset-8 { margin-left: -634px; }
.offset-7 { margin-left: -551px; }
.offset-6 { margin-left: -470px; }
.offset-5 { margin-left: -389px; }
.offset-4 { margin-left: -307px; }
.offset-3 { margin-left: -224px; }
.offset-2 { margin-left: -143.5px; }
.offset-1 { margin-left: -61.75px; }

/* Pushoffs */
.pad11 { margin-right: 900px; }
.pad10 { margin-right: 829px; }
.pad9 { margin-right: 720px; }
.pad8 { margin-right: 654px; }
.pad7 { margin-right: 571px; }
.pad6 { margin-right: 490px; }
.pad5 { margin-right: 409px; }
.pad4 { margin-right: 327px; }
.pad3 { margin-right: 224px; }
.pad2 { margin-right: 163.5px; }
.pad1 { margin-right: 81.75px; }
/*grids from butterly*/

.right {
    float: right;
}
    .wrap > .right {
        margin-right: 40px;
    }
.left, [class*='col'], .content, .sidebar {
    float: left;
}
    
.header {
    margin-bottom: 40px;
}